div.actions .btn-large i.material-icons {
  color: white;
  font-size: 2.5em;
}

div.actions .btn-large {
  height: 88px;
  width: 100%;
  line-height: 88px;
  font-size: 1.5em;
}

.challenge .card-content .menu .btn-large {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.challenge .description p {
  padding-bottom: 10px;
}
