.inbox .datetime.chip {
  margin-top: 7px;
}

.inbox .collapsible-body {
  background-color: #fff;
}

.inbox .collapsible-header {
  font-size: 1em;
}

.inbox .collapsible-header.active {
  font-size: 1.2em;
}
