body {
  background: #e9e9e9;
}

.card-title .large-icon {
  font-size: xx-large;
}

.card .row:last-of-type {
  margin-bottom: 0;
}

a.card {
  display: block;
  cursor: pointer;
}

.card .card-image.color-block {
  display: block;
  height: 88px;
}

.collection .collection-header {
  padding: 10px 20px;
  color: #fff;
}

main {
  height: 100%;
}

.main-content {
  padding-top: 20px;
}
