// bower:scss
// endbower
$homescreen-bgcolor: black;
$homescreen-bg-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3b/Good_Morning_From_the_International_Space_Station.jpg');

$message-item-bgcolor: white;
$message-item-color: black;
$lesson-item-bgcolor: #03A9F4;
$lesson-item-color: white;
$challenge-item-bgcolor: #FF9800;
$challenge-item-color: white;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: Roboto, Arial;
}

md-content {
    background: none;
}

md-content.main-content {
    display: flex;
    background-color: $homescreen-bgcolor;
    background-image: $homescreen-bg-image;
    background-size: cover;
    background-position: top left;
}

md-toolbar.topbar {
  background-color: white;
}

.md-toolbar-tools a {
    height: 100%;
}

.md-toolbar-tools img.logo {
    height: 90%;
}

.help-question-block {
    background-color: lightblue;
}

.help-question-block md-input-container{
    width: 100%;
}

.help-question-block textarea {
    width: 100%;
}

.student-home {
    padding: 50px 0 0 20px;
}

.student-home .md-subhead {
  color: inherit!important;
}

.student-home .message-item {
    cursor: pointer;
    background: $message-item-bgcolor;
    color: $message-item-color;
}

.student-home .message-item .icon {
    fill: $message-item-color;
}

.student-home .message-item:hover {
    background: lighten($message-item-bgcolor, 20%);
}

.student-home .lesson-item {
    cursor: pointer;
    background: $lesson-item-bgcolor;
    color: $lesson-item-color;
}

.student-home .lesson-item:hover {
    background: lighten($lesson-item-bgcolor, 20%);
}

.student-home .lesson-item .icon{
    fill: $lesson-item-color;
    stroke: $lesson-item-color;
}

.student-home .challenge-item {
    cursor: pointer;
    background: $challenge-item-bgcolor;
    color: $challenge-item-color;
}

.student-home .challenge-item:hover {
    background: lighten($challenge-item-bgcolor, 20%);
}

.student-home .challenge-item .icon {
    fill: $challenge-item-color;
    stroke: $challenge-item-color;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
