<!doctype html>
<html lang="nl">
  <head>
  <meta charset="utf-8">
  <title>Codecult</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <style> .ng-hide, .ng-cloak { display: none !important; } </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/navbar.css">
  <link rel="stylesheet" href="styles/browser.css">
  <link rel="stylesheet" href="styles/releases.css">
  <link rel="stylesheet" href="styles/inbox.css">
  <link rel="stylesheet" href="styles/units.css">
  <!-- endbuild -->
  </head>
  <body ng-app="eduraamApp" flex layout="column">
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <nav class='blue' ng-controller="ToolbarCtrl">
    <div class="nav-wrapper">
      <div class='logo'>
        <a href="#/">
          <img src="/images/logo_codecult_transparant_small.png">
        </a>
        <a href="#/releases/" id='menu-release-item'
          class='hide-on-med-and-down ng-cloak' ng-show='version'>
          <div class='chip white' ng-bind='version'></div>
        </a>
      </div>
      <ul class='right hide-on-med-and-up'>
        <a href="#" data-activates="mobile-main-menu" class="button-collapse"
          id='activate-mobile-menu-btn'>
            <i class="material-icons">menu</i>
        </a>
      </ul>
      <ul class="right main-menu hide-on-small-only">
        <li>
          <a href="#/">
            <i class="material-icons left">view_module</i>
            <span class='menu-icon-label'>Home</span>
          </a>
        </li>
        <li ng-show='showDashboardBtn'>
          <a class='dropdown-button' href='#'
              data-constrainwidth="false" data-beloworigin="true"
              data-gutter="5" data-alignment='right'
              data-activates='menu-dashboard-dropdown'>
            <i class="material-icons left">trending_up</i>
            <span class='menu-icon-label'>Overzicht</span>
          </a>
          <ul id='menu-dashboard-dropdown' class='dropdown-content blue'
            style='margin-top: 3px'>
            <li ng-repeat='group in teachingGroups'>
              <a ng-click='loadDashboard(group.id)'>
                <i class="material-icons left valign large-icon">group</i>&nbsp;
                <span ng-bind='group.title'></span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a ng-click="launchHelp(false)">
            <i class="material-icons left">help_outline</i>
            <span class='menu-icon-label'>Help</span>
          </a>
        </li>
        <li>
          <a href="#/inbox/"><i class="material-icons left">email</i>
          <span class='menu-icon-label'>
            Berichten
            <span ng-bind='"&nbsp;("+unreadCount+")"' ng-show='unreadCount'></span>
          </span>
        </a>
        </li>
        <li class='primary-menu-item'>
          <a class='dropdown-button'
              data-constrainwidth="false" data-beloworigin="true"
              data-gutter="5"
              data-activates='menu-account-dropdown'>
            <i class="material-icons left">account_box</i>
            <span class='menu-icon-label' ng-bind="userInfoName"></span>
          </a>
          <ul id='menu-account-dropdown' class='dropdown-content blue'
            style='margin-top: 3px'>
            <li><a ng-click='changePassword()'>Wachtwoord veranderen</a></li>
            <li class="divider"></li>
            <li><a ng-click="logout()">Uitloggen</a></li>
          </ul>
        </li>
      </ul>
      <ul class="side-nav blue mobile-menu right" id="mobile-main-menu">
        <li class='primary-menu-item'>
          <a class='dropdown-button'
              data-constrainwidth='true' data-beloworigin="true"
              data-gutter="5" data-alignment='left'
              data-activates='mobile-menu-account-dropdown'>
            <i class="material-icons left">account_box</i>
            <span class='menu-icon-label' ng-bind='userInfoName'></span>
          </a>
          <ul id='mobile-menu-account-dropdown' class='dropdown-content blue'
            style='margin-top: 5px'>
            <li><a ng-click='changePassword()'>Wachtwoord veranderen</a></li>
            <li class="divider"></li>
            <li><a ng-click="logout()">Uitloggen</a></li>
          </ul>
        </li>
        <li>
          <a href="#/"><i class="material-icons left">view_module</i>
          <span class='menu-icon-label'>Home</span>
        </a>
        </li>
        <li ng-show='showDashboardBtn'>
          <a class='dropdown-button' href='#'
              data-constrainwidth='true' data-beloworigin="true"
              data-gutter="5" data-alignment='left'
              data-activates='mobile-menu-dashboard-dropdown'>
            <i class="material-icons left">trending_up</i>
            <span class='menu-icon-label'>Overzicht</span>
          </a>
          <ul id='mobile-menu-dashboard-dropdown' class='dropdown-content blue lighten-2'
            style='margin-top: 5px'>
            <li ng-repeat='group in teachingGroups'>
              <a ng-click='loadDashboard(group.id)'>
                <i class="material-icons left valign large-icon">group</i>&nbsp;
                <span ng-bind='group.title'></span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a ng-click='launchHelp(true)'>
            <i class="material-icons left">help_outline</i>
            <span class='menu-icon-label'>Help</span>
          </a>
        </li>
        <li>
          <a href="#/inbox/"><i class="material-icons left">email</i>
          <span class='menu-icon-label'>
            Berichten
            <span ng-bind='"&nbsp;("+unreadCount+")"' ng-show='unreadCount'></span>
          </span>
        </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#/releases/" id='menu-release-item' ng-show='version'>
            <div class='chip white' ng-bind='version'></div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <main>
  <div flex id="browser-container" ng-controller="BrowserCtrl" class='hide'>
    <iframe width="100%" height="100%" frameborder="0" id="browser-frame"></iframe>
  </div>
  <div ng-view="" flex class="container main-content" id="main-container"></div>
  </main>
  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-environment/dist/angular-environment.js"></script>
  <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
  <script src="bower_components/urijs/src/URI.js"></script>
  <script src="bower_components/Materialize/bin/materialize.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/polyfills.js"></script>
  <script src="scripts/inheritence.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/services/apps.js"></script>
  <script src="scripts/services/units.js"></script>
  <script src="scripts/services/user.js"></script>
  <script src="scripts/services/events.js"></script>
  <script src="scripts/services/groups.js"></script>
  <script src="scripts/controllers/toolbar.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/teacher-dashboard.js"></script>
  <script src="scripts/controllers/groupselector.js"></script>
  <script src="scripts/controllers/homescreen.js"></script>
  <script src="scripts/controllers/app_list.js"></script>
  <script src="scripts/controllers/app.js"></script>
  <script src="scripts/controllers/unit.js"></script>
  <script src="scripts/services/app_adaptor.js"></script>
  <script src="scripts/services/skills.js"></script>
  <script src="scripts/controllers/browser.js"></script>
  <script src="scripts/controllers/inbox.js"></script>
  <script src="scripts/services/inbox.js"></script>
  <script src="scripts/controllers/release_list.js"></script>
  <script src="scripts/services/releases.js"></script>
  <!-- endbuild -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75243002-1', 'auto');
    ga('send', 'pageview');
  </script>
  </body>
</html>
