<div class='challenge' layout-fill>
  <div class="card">
    <div class='card-image color-block teal'>
      <span class='card-title' ng-bind='challenge.label'></span>
      <a class="ng-cloak waves-effect waves-light btn-large right teal lighten-2"
        ng-click='launchChallenge(challenge)' ng-hide='challenge.completed'>
        <i class="material-icons right">play_arrow</i>Ga verder
      </a>
      <a class="ng-cloak waves-effect waves-light btn-large right green"
        ng-show='challenge.completed'>
        <i class="material-icons right">done</i>Klaar
      </a>
    </div>
    <div class="card-content">
      <div class='row'>
        <div class='col s3 menu'>
          <a class="waves-effect waves-light btn-large teal lighten-1 disabled">
            <i class='material-icons left'>subject</i>Beschrijven
          </a>
          <a class="waves-effect waves-light btn-large teal lighten-1">
            <i class='material-icons left'>dashboard</i>Ophakken
          </a>
          <a class="waves-effect waves-light btn-large teal lighten-1">
            <i class='material-icons left'>build</i>Maken
          </a>
          <a class="waves-effect waves-light btn-large teal lighten-1 disabled">
            <i class='material-icons left'>feedback</i>Bespreken
          </a>
        </div>
        <div class='col s9'>
          <div class='description' ng-bind-html='challenge.body'></div>
        </div>
      </div>
    </div>
  </div>
</div>
