<md-dialog aria-label="{{ title }}"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Verander wachtwoord</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">X
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <label for='oldPwd1'>Huidig wachtwoord</label>
        <input type='password' name='oldPwd1'>
        <label for='oldPwd2'>Herhaal huidig wachtwoord</label>
        <input type='password' name='oldPwd2'>
        <label for='newPwd'>Nieuw wachtwoord</label>
        <input type='password' name='newPwd'>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="hide()">
       Cancel
      </md-button>
      <span flex></span>
      <md-button ng-click="submit()" style="margin-right:20px;">
        Verander
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
