<div ng-controller="GroupSelectorCtrl" layout-fill class='group_selector'>
  <div class="card" ng-show='groups.length > 0'>
    <div class='card-image color-block cyan'>
      <span class='card-title'>Selecteer uw groep</span>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col l4 m6 s12" ng-repeat='group in groups'>
          <a class='card cyan white-text hoverable'
            ng-click='onGroupSelect(group)'>
            <div class="card-content">
              <span class="card-title valign-wrapper">
                <i class="material-icons left valign large-icon">group</i>
                {{ group.title }}
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card" ng-hide='groups.length > 0'>
    <div class='card-image color-block blue'>
      <span class='card-title'>Verbinding maken met de server</span>
    </div>
    <div class="card-content">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</div>
