<div ng-controller="GroupSelectorCtrl" layout-fill class='group_selector'>
  <md-content flex="grow" layout-align="center start">
    <div layout-wrap layout="row">
      <md-card ng-repeat="group in groups" flex-xs="grow" flex-sm="45"
        flex-md="40" flex-gt-md="30" ng-click="onGroupSelect(group)">
        <md-card-title>
          <md-card-title-text>
          <span class="md-headline">{{group.title}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
  </md-content>
</div>
