<div class='inbox' layout-fill>
  <div class='card'>
    <div class='card-image color-block blue'>
      <span class='card-title'>Berichten</span>
    </div>
    <div class="card-content" ng-show='messages.length === 0'>
      <h3>Op dit moment zijn er geen ongelezen berichten</h3>
    </div>
  </div>
  <div class="progress" ng-hide='messages !== null'>
    <div class="indeterminate"></div>
  </div>
  <ul class='collapsible popout' data-collapsible="accordion"
    ng-show='messages.length > 0'>
    <li ng-repeat="message in messages">
      <div class='collapsible-header'>
        <i class="material-icons">mail_outline</i>
        <div class='collapsible-header-title' ng-bind='message.title'></div>
      </div>
      <div class='collapsible-body'>
        <div class='date-small right' ng-bind='message.date'></div>
        <div ng-bind-html='message.summary'></div>
    </li>
  </ul>
</div>
<script>$(document).ready(function(){$('.collapsible').collapsible();});</script>
