<div class='mail-list' layout-fill>
  <md-content flex="grow" layout-align="center start">
    <md-card flex-xs="grow">
      <md-toolbar class='md-hue-1'>
        <div class="md-toolbar-tools">
          <h2>Berichten</h2>
        </div>
      </md-toolbar>
      <md-progress-linear md-mode="indeterminate"
        ng-hide="messages !== null"></md-progress-linear>
      <md-card-content>
        <h4 ng-show="messages.length === 0">
          Op dit moment zijn er geen ongelezen berichten
        </h4>
        <md-list flex ng-show="messages.length>0">
          <md-divider></md-divider>
          <md-subheader class="md-no-sticky">Nieuwe berichten</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="message in messages"
            ng-click="loadMessage(message)">
            <md-icon md-svg-icon="images/mail_black.svg"></md-icon>
            <div class="md-list-item-text" layout="column">
              <h3>{{ message.title }}</h3>
              <i><h4>{{ message.datetime }}</h4></i>
              <p>{{ message.summary }}</p>
            </div>
            <md-divider></md-divider>
         </md-list-item>
      </md-card-content>
    </md-card>
  </md-content>
</div>
