<md-dialog aria-label="{{ title }}"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Projectbeschrijving</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">X
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{title}}</h2>
        <div ng-bind-html="description"></div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="hide()">
       Cancel
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('start')" style="margin-right:20px;">
        Start project
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
