<md-progress-linear md-mode="indeterminate" ng-hide="releases"></md-progress-linear>
<div class='release-list' layout-fill>
  <md-content flex="grow" layout-align="center start" ng-show="releases">
    <md-card flex-xs="grow" ng-repeat="release in releases"
      ng-class="{'release-delivered': release.delivered}">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Release {{release.major}}.{{release.minor}}.{{release.patch}}</h2>
          <div class='align-right release-date' ng-show='release.scheduled'>
            {{ release.delivered?"Actief op":"Verwacht op" }}&nbsp;{{ release.scheduled }}
          </div>
        </div>
      </md-toolbar>
      <md-card-content>
      <p ng-show="release.description">{{ release.description }}</p>
      <md-list flex>
        <md-list-item ng-repeat="item in release.items">
          <md-icon md-svg-icon="images/release_{{ item.type }}_black.svg"></md-icon>
          <p>{{ item.description }}</p>
          <md-divider ng-if="!$last"></md-divider>
       </md-list-item>
      </md-card-content>
    </md-card>
  </md-content>
</div>
