<div class='release-list' layout-fill>
  <div class='card'>
    <div class='card-image color-block blue'>
      <span class='card-title'>Versies</span>
    </div>
  </div>
  <div class="progress" ng-hide='releases !== null'>
    <div class="indeterminate"></div>
  </div>
  <ul class='collapsible popout' data-collapsible="accordion"
    ng-show='releases.length > 0'>
    <li ng-repeat="release in releases">
    <div class='collapsible-header'
      ng-class="{'green lighten-3':release.delivered}">
        Versie&nbsp;
        <span ng-bind="[release.major, release.minor, release.patch].join('.')">
        </span>
        <div class='right'>
          <span ng-show='release.scheduled' class='chip release-date'>
            {{ release.delivered?"Actief op":"Verwacht op" }}&nbsp;{{ release.scheduled }}
          </span>
        </div>
      </div>
      <div class='collapsible-body'>
        <p ng-show="release.description">{{ release.description }}</p>
        <div class='release-items'>
          <ul class='collection'>
            <li class='collection-item' ng-repeat='item in release.items'>
              <span class='title'>
                <i class='material-icons circle'
                  ng-bind="({'feature':'star', 'bugfix': 'bug_report', 'other': 'extension'})[item.type]">
                </i>
                {{item.description }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
<script>$(document).ready(function(){$('.collapsible').collapsible();});</script>
