<div class='teacher-dashboard' ng-controller='TeacherDashboardCtrl' layout-fill>
  <div class="card">
    <div class='card-image color-block blue'>
      <span class='card-title'>Overzicht
        <span ng-show="groupTitle" ng-bind='" voor groep "+groupTitle'></span>
      </span>
    </div>
    <div class="card-content">
      <div class="progress" ng-hide='students'>
        <div class="indeterminate"></div>
      </div>
      <table class='striped' ng-show='students'>
        <thead>
          <tr>
            <th>Leerling</th>
            <th>Laatste login</th>
            <th ng-repeat="skill in skills">{{skill.title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in students">
            <td>{{student.name}}
              <span ng-show='studentsInfo[student.id].isTeacher'>(Docent)</span>
            </td>
            <td ng-show='studentsInfo'
              ng-bind='studentsInfo[student.id].last_login'></td>
            <td ng-repeat="skill in student.skills" ng-switch="skill.level.index">
              <span ng-switch-when="1">
                <md-icon md-svg-src="images/star_black.svg"></md-icon>
                <md-icon md-svg-src="images/star_border.svg"></md-icon>
                <md-icon md-svg-src="images/star_border.svg"></md-icon>
              </span>
              <span ng-switch-when="2">
                <md-icon md-svg-src="images/star_black.svg"></md-icon>
                <md-icon md-svg-src="images/star_black.svg"></md-icon>
                <md-icon md-svg-src="images/star_border.svg"></md-icon>
              </span>
              <span ng-switch-when="3">
                <md-icon md-svg-src="images/star_black.svg"></md-icon>
                <md-icon md-svg-src="images/star_black.svg"></md-icon>
                <md-icon md-svg-src="images/star_black.svg"></md-icon>
              </span>
              <span ng-switch-default>
                <md-icon md-svg-src="images/star_border.svg"></md-icon>
                <md-icon md-svg-src="images/star_border.svg"></md-icon>
                <md-icon md-svg-src="images/star_border.svg"></md-icon>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
